[Unit]
Description=Girafe Project
#Requires=docker-tcp.socket
#After=docker-tcp.socket
Requires=docker.service
After=docker.service

Conflicts=shutdown.target reboot.target halt.target

[Service]
Environment=
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

WorkingDirectory=/etc/girafe/docker/composer

ExecStartPre=-/usr/local/bin/docker-compose stop -f girafe.yaml
ExecStartPre=-/usr/local/bin/docker-compose rm -f girafe.yaml

ExecStart=/usr/local/bin/docker-compose -f girafe.yaml up --force-recreate --no-deps

ExecStop=/usr/local/bin/docker-compose -f girafe.yaml stop

NotifyAccess=all

[Install]
WantedBy=multi-user.target
